.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: var(--content-width);
  padding: 64px var(--viewport-padding);
  margin: 0 auto;
}
.content{
  display: flex;
  justify-content: start;
  align-items: center;
}
.introduction{
  font-size: 1.4rem;
  font-weight:bold;
}
.sub{
  font-size: 1.3rem;
}
.introduction{

}
.mainHeading {
  margin-top: 1em;
  margin-bottom: 1.5em;
}
